<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'tasks_report'|trans }}</title>
    <style>
        th, td {
            border-bottom: 1px solid #ddd;
        }
        *{
            font-family: "DejaVu Sans", sans-serif;
        }
    </style>
</head>
<body>
<table>
    <thead>
        <tr>
            {% for header in tasksData|first %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in tasksData[1:] %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>